site_name: XR Linux Driver
site_description: Documentation for the XR Linux Driver project
repo_url: https://github.com/wheaney/XRLinuxDriver
repo_name: wheaney/XRLinuxDriver

docs_dir: docs

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - content.code.copy

plugins:
  - search

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - tables
  - pymdownx.highlight
  - pymdownx.superfences

nav:
  - Home: index.md
  - Usage:
    - Mouse / joystick modes: mouse-and-joystick-modes.md
  - OpenTrack:
      - Listener (Input): opentrack-listener.md
      - App (Output): opentrack-app.md
      - 6DoF from 3DoF glasses + a webcam: 6dof-from-3dof-opentrack-neuralnet.md
  - Development: development.md
