[Unit]
Description=XR user-space driver
After=network.target

[Service]
Type=simple
Environment=LD_LIBRARY_PATH={ld_library_path}
ExecStart={bin_dir}/xrDriver
Restart=always

[Install]
WantedBy=default.target
