[Unit]
Description=XREAL Air user-space driver
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'HOME={user_home} {user_home}/bin/xrealAirLinuxDriver'
Restart=on-failure

[Install]
WantedBy=multi-user.target