[Unit]
Description=XR user-space driver
After=network.target

[Service]
Type=simple
Environment=HOME={user_home}
Environment=LD_LIBRARY_PATH={ld_library_path}
ExecStart=/bin/bash -c {user_home}/bin/xrealAirLinuxDriver
Restart=always

[Install]
WantedBy=multi-user.target
