[Unit]
Description=XREAL Air user-space driver
After=network.target

[Service]
Type=simple
Environment=HOME={user_home}
ExecStart={user_home}/bin/xrealAirLinuxDriver
Restart=on-failure

[Install]
WantedBy=multi-user.target
