# Viture One
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1011|1013|1017", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="usb", KERNEL=="hiddev[0-9]*", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1011|1013|1017", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="tty", KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1011|1013|1017", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="hidraw", KERNEL=="hidraw[0-9]*", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1011|1013|1017", MODE="0660", TAG+="uaccess"
# Mouse output
KERNEL=="uinput", SUBSYSTEM=="misc", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1011|1013|1017", MODE="0660", TAG+="uaccess", OPTIONS+="static_node=uinput"

# Viture One Lite
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1015|101b", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="usb", KERNEL=="hiddev[0-9]*", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1015|101b", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="tty", KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1015|101b", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="hidraw", KERNEL=="hidraw[0-9]*", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1015|101b", MODE="0660", TAG+="uaccess"
# Mouse output
KERNEL=="uinput", SUBSYSTEM=="misc", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1015|101b", MODE="0660", TAG+="uaccess", OPTIONS+="static_node=uinput"

# Viture Pro
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1019|101d", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="usb", KERNEL=="hiddev[0-9]*", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1019|101d", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="tty", KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1019|101d", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="hidraw", KERNEL=="hidraw[0-9]*", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1019|101d", MODE="0660", TAG+="uaccess"
# Mouse output
KERNEL=="uinput", SUBSYSTEM=="misc", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1019|101d", MODE="0660", TAG+="uaccess", OPTIONS+="static_node=uinput"


