# Viture One
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1011|1013|1017", TAG+="uaccess"

# Viture One Lite
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1015|101b", TAG+="uaccess"

# Viture Pro
SUBSYSTEM=="usb", ACTION=="add", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1019|101d", TAG+="uaccess"