# Viture One
KERNEL=="ttyACM[0-9]*" SUBSYSTEM=="tty", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1011", MODE="0666"
KERNEL=="ttyACM[0-9]*" SUBSYSTEM=="tty", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1013", MODE="0666"
KERNEL=="ttyACM[0-9]*" SUBSYSTEM=="tty", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1017", MODE="0666"

# Viture One Lite
KERNEL=="ttyACM[0-9]*" SUBSYSTEM=="tty", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1015", MODE="0666"
KERNEL=="ttyACM[0-9]*" SUBSYSTEM=="tty", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="101b", MODE="0666"

# Viture Pro
KERNEL=="ttyACM[0-9]*" SUBSYSTEM=="tty", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="1019", MODE="0666"
KERNEL=="ttyACM[0-9]*" SUBSYSTEM=="tty", ATTRS{idVendor}=="35ca", ATTRS{idProduct}=="101d", MODE="0666"